@model PPF.Models.ChangePasswordModel

@{
    ViewBag.Title = "Change Password";
}

<h2>Change Password</h2>
<p>
    Use the form below to change your password. <strong>New passwords are required to be a minimum of @ViewBag.PasswordLength characters in length</strong>!!
</p>

@using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post, new { id = "frmChangePassword", @class="vertical" }))
{
    @Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.")
    @Html.LabelFor(m => m.OldPassword)
    @Html.PasswordFor(m => m.OldPassword)
    @Html.LabelFor(m => m.NewPassword)
    @Html.PasswordFor(m => m.NewPassword)
    @Html.LabelFor(m => m.ConfirmPassword)
    @Html.PasswordFor(m => m.ConfirmPassword)
    <div class="formDivider"></div>
    <input type="button" value="Change Password" id="btnSubmit" />
    <div id="changePassword-results" style="margin: 5px 0 5px 0; display: none;"></div>
}
<div id="dlgSaving" title="Saving Your Changes">
<img src="@Url.Content("~/content/img/ajax-loading.gif")" alt="loading" style="float: left; margin-right: 1em;" />
<span class="emphasis">Changing your password...please wait.</span>
</div>
<script type="text/javascript">

    $(function () {

        $("#dlgSaving").dialog({ autoOpen: false, modal: true });

        $(document).ajaxStart(function () {
            $("#dlgSaving").dialog("open");
        })
        .ajaxStop(function () {
            $("#dlgSaving").dialog("close");
        })
        .ajaxError(function (a, b, e) {
            $("#dlgSaving").dialog("close");
            throw e;
        });

        $("#frmChangePassword").validate({
            errorElement: "div",
            rules: {
                OldPassword: {
                    required: true
                },
                NewPassword: {
                    required: true,
                    minlength: 6
                },
                ConfirmPassword: {
                    required: true,
                    minlength: 6,
                    equalTo: "#NewPassword"
                }
            },
            messages: {
                OldPassword: "Please enter your current password",
                NewPassword: {
                    required: "Please enter a new password",
                    minLength: "Your new password must be at least 6 characters"
                },
                ConfirmPassword: {
                    required: "Please confirm your new password",
                    minLength: "Your new password must be at least 6 characters",
                    equalTo: "Your confirmation must match your new password"
                }
            },
            submitHandler: function (form) {
                $(form).ajaxSubmit({ target: "#changePassword-results", success: showResponse });
            }
        });

        $("#btnSubmit").click(function () {
            $("#frmChangePassword").submit();
        });
    });

    function showResponse(responseText, statusText, xhr, $form) {

        if ($("#changePassword-results").val().indexOf("invalid") > -1) {
            $("#changePassword-results").attr("class", "error");
        }
        else {
            $("#changePassword-results").css("font-bold", "bold");
        }
        $("#changePassword-results").fadeIn("slow");

    }

</script>
